{% load static tailwind_tags %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% tailwind_css %}
</head>
<body style="height: 100%, width: 100%, padding: None, background-color: black">
    <div class="flex justify-center w-screen bg-black">
        <h1 class="text-140 font-black text-center py-3 text-purple border-b-4 border-transparent hover:border-2 border-c161ff hover:text-white">EXPLORE TOP TIER <br>PROJECTS</h1>
    </div>      
</body>
</html>
